<div class="d-flex m-2" id="contact-card">
  <div class="middle">
    <div class="media">
      <div class="mr-3">
        <a href="#">
          <%= image_tag contact.image === nil ? "DefaultProfilePic100x100" : contact.image_url(:small) , class: "rounded float-left"%>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%=contact.name%></h4>
        <address>
          <strong><%=contact.company%></strong><br>
          <%=contact.email%>
        </address>
      </div>
    </div>
  </div>
  <div width="130" class="middle ml-auto" id="contact-actions">
    <div>
      <%= link_to edit_contact_path(contact), class: "btn btn-outline-secondary btn-circle btn-xs", title: "Edit" do%>
        <i class="fa fa-edit"></i>
      <%end%>
      <a href="#" class="btn btn-outline-danger btn-circle btn-xs" title="Delete">
        <i class="fa fa-times"></i>
      </a>
    </div>
  </div>
</div>