<div class="col-md-3">
  <div class="list-group shadow-sm">

    <%= link_to contacts_path, class: 'list-group-item list-group-item-action d-flex justify-content-between align-items-center' do %>
      All Contact <span class="badge badge-warning badge-pill"><%= Contact.all.count %></span>
    <%end%>

    <% Group.all.each do |group| %>
      <%= link_to contacts_path(group_id: group.id), class: 'list-group-item list-group-item-action d-flex justify-content-between align-items-center' do %>
        <%=group.name%><span class="badge badge-warning badge-pill"><%=group.contacts.count%></span>
      <%end%>
    <% end %>
  </div>
</div><!-- /.col-md-3 -->