<div class="col-md-3">
  <div class="list-group shadow-sm">
    <% active = (params[:group_id] == nil || params[:group_id].empty?) && !session[:selected_group_id] ? 'active' : ''%>
    <%= link_to contacts_path(), class: "list-group-item list-group-item-action d-flex justify-content-between align-items-center #{active}" do %>
      All Contact <span class="badge badge-warning badge-pill"><%= Contact.all.count %></span>
    <%end%>

    <% Group.all.each do |group| %>
      <% active = params[:group_id].to_i == group.id || (session[:selected_group_id].to_i == group.id)  ? 'active' : ''%>
      <%= link_to contacts_path(group_id: group.id), class: "list-group-item list-group-item-action d-flex justify-content-between align-items-center #{active}" do %>
        <%=group.name%><span class="badge badge-warning badge-pill"><%=group.contacts.count%></span>
      <%end%>
    <% end %>
  </div>
</div><!-- /.col-md-3 -->
