<%= form_for @contact do |f|%>
    <% if contact.errors.any?%>
        <div class="row">
            <div class="col-md-12 alert">
                <% contact.errors.full_messages.each do |message|%>
                    <p class="alert-warning"><%=message%></p>
                <%end%>
            </div>
        </div>
    <%end%>
    <div class="d-flex justify-content-around" id="responsive-from">
        <div class="col-md-9 mt-2">
            <div class="form-group row">
                <%= f.label :name, class:"col-md-3 col-form-label"%>
                <div class="col-md-8">
                    <%= f.text_field :name, class:"form-control" %>
                </div>
            </div>

            <div class="form-group row">
                <%= f.label :company, class:"col-md-3 col-form-label"%>
                <div class="col-md-8">
                    <%= f.text_field :company, class:"form-control" %>
                </div>
            </div>

            <div class="form-group row">
                <%= f.label :email, class:"col-md-3 col-form-label"%>
                <div class="col-md-8">
                    <%= f.text_field :email, class:"form-control" %>
                </div>
            </div>

            <div class="form-group row">
                <%= f.label :phone, class:"col-md-3 col-form-label"%>
                <div class="col-md-8">
                    <%= f.text_field :phone, class:"form-control" %>
                </div>
            </div>
            <div class="form-group row">
                <%= f.label :address, class:"col-md-3 col-form-label"%>
                <div class="col-md-8">
                    <%= f.text_area :address, class:"form-control", row:"3" %>
                </div>
            </div>

            <div class="form-group row">
                <%= f.label :group_id, class:"col-md-3 col-form-label"%>
                <div class="col-md-5">
                    <%attr = {prompt: "Select group"}%>
                    <%attr[:selected] = session[:selected_group_id].to_i if session[:selected_group_id].to_i%>
                    <%= f.collection_select :group_id, Group.all, :id, :name, attr, class: "form-control" %>
                </div>
                <div class="col-md-3">
                    <a href="#" id="add-group-btn" class="btn btn-outline-secondary btn-block">Add Group</a>
                </div>
            </div>
            <div class="form-group row" id="add-new-group">
                <div class="offset-md-3 col-md-8">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="TEST_group_id" placeholder="Enter group name" aria-label="Enter group name" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                                <i class="fa fa-check"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <%= f.hidden_field :image, value: contact.cached_image_data %>
                <%= f.label :image, class:"col-md-3 col-form-label"%>
                <div class="fileinput fileinput-new col-md-5" data-provides="fileinput">
                    <div class="mt-2">
                        <%= f.file_field :image %>
                    </div>
                    <a href="#" class="btn btn-outline-secondary fileinput-exists mt-2" data-dismiss="fileinput">Remove</a>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3 col-form-label">Acions</div>
                <div class="col-md-5">
                    <div class="mr-2">
                        <%= f.submit contact.new_record? ? "Save" : "Update", class:"btn btn-primary" %>
                        <a href="#" class="btn btn-outline-secondary">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-2 mx-auto">
            <%= image_tag contact.image === nil ? "DefaultProfilePic150x150" : contact.image_url(:medium) , class: "rounded m-auto" %>
        </div>
    </div>
<%end%>

