<%= form_for @contact, url: @contact.new_record? ? contacts_create_path : update_contact_path(@contact.id) do |f|%>
    <% if contact.errors.any?%>
        <div class="row">
            <div class="col-md-12">
                <% contact.errors.full_messages.each do |message|%>
                    <p><%=message%></p>
                <%end%>
            </div>
        </div>
    <%end%>

    <div class="col-md-9">
        <div class="form-group row">
            <%= f.label :name, class:"col-md-3 col-form-label"%>
            <div class="col-md-8">
                <%= f.text_field :name, class:"form-control" %>
            </div>
        </div>

        <div class="form-group row">
            <%= f.label :company, class:"col-md-3 col-form-label"%>
            <div class="col-md-8">
                <%= f.text_field :company, class:"form-control" %>
            </div>
        </div>

        <div class="form-group row">
            <%= f.label :email, class:"col-md-3 col-form-label"%>
            <div class="col-md-8">
                <%= f.text_field :email, class:"form-control" %>
            </div>
        </div>

        <div class="form-group row">
            <%= f.label :phone, class:"col-md-3 col-form-label"%>
            <div class="col-md-8">
                <%= f.text_field :phone, class:"form-control" %>
            </div>
        </div>
        <div class="form-group row">
            <%= f.label :address, class:"col-md-3 col-form-label"%>
            <div class="col-md-8">
                <%= f.text_area :address, class:"form-control", row:"3" %>
            </div>
        </div>

        <div class="form-group row">
            <%= f.label :group_id, class:"col-md-3 col-form-label"%>
            <div class="col-md-5">
                <%= f.collection_select :group_id, Group.all, :id, :name, {prompt: "Select group"}, class: "form-control" %>
            </div>
            <div class="col-md-3">
                <a href="#" id="add-group-btn" class="btn btn-outline-secondary btn-block">Add Group</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <%= f.hidden_field :image, value: contact.cached_image_data %>
        <div class="fileinput fileinput-new" data-provides="fileinput">
            <% if contact.new_record? %>
            
            <% elsif contact.image_url == nil%>
                <%= image_tag contact.gravatar, style: "width: 150px;" %>
            <%else%>
                <%= image_tag contact.image_url, style: "width: 150px;" %>
            <%end%>
            <div class="mt-2">
                <%= f.file_field :image %>
                <a href="#" class="btn btn-outline-secondary fileinput-exists" data-dismiss="fileinput">Remove</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="d-flex justify-content-center m-2">
                    <%= f.submit contact.new_record? ? "Save" : "Update", class:"btn btn-primary mx-2 mt-2" %>
                    <a href="#" class="btn btn-outline-secondary mx-2 mt-2">Cancel</a>
                </div>
            </div>
        </div>
    </div>
<%end%>

