<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container">
    <%= link_to "My contacts", root_path, class: "navbar-brand text-uppercase" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        
    <!-- /.navbar-header -->
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <%= form_tag contacts_path, class: "form-inline ml-auto mt-2 mt-md-0", role: "Search", method: 'get'  do %>
        <%= text_field_tag :term, params[:term], class: "form-control mr-sm-2", type: "text", placeholder: "Search", autocomplete: "off"%>
        <%= hidden_field_tag :group_id, params[:group_id]%>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <% end %>
      <ul class="navbar-nav ml-2">
        <li class="nav-item">
          <% attr = session[:selected_group_id] ? { group_id: session[:selected_group_id]} : {}%>
          <%= link_to new_contact_path(attr), class: "btn btn-outline-primary" do%>
            Add New
          <%end%>
        </li>
      </ul>
    </div>
  </div>
</nav>