<!DOCTYPE html>
<html>
  <head>
    <title>ContactManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "contacts/navbar"%>
    <main class="pt-4">
      <div class="container">
        <div class="row">
          <%= render "contacts/filter"%>
          <div class="col-md-9">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
            <%= render "messages" if !flash.empty?%>
            <div class="card">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
