<div class="row">
    <%= render "contacts/filter"%>
    <div class="col-md-9">
        <!-- /<p class="notice"><%= notice %></p> -->
        <!-- /<p class="alert"><%= alert %></p> -->
        <%= render "contacts/messages" if !flash.empty?%>
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <strong class="my-2"><%= yield(:title)%></strong>
                <%if request.env['PATH_INFO'] != '/contacts/new'%>
                    <% attr = session[:selected_group_id] ? { group_id: session[:selected_group_id]} : {}%>
                        <%= link_to new_contact_path(attr), class: "btn btn-outline-primary my-auto" do%>
                            Add New
                    <%end%>
                <%end%>
            </div>
        <div>
            <%= yield(:content) %>
        </div>
        <div class="bg-light d-flex justify-content-center">
            <%= yield(:footer) %>   
        </div>
    </div>
</div>


